body {
    min-width: 1000px;
    margin: 0;
    padding: 0; 
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
    color: black;
  }
  .container {
    width: 980px;
    margin: 0 auto;
    padding: 0 10px;
  }
  
  /*------Заголовок------*/
  
  .main-header-foto {
    padding-top: 45px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    /*background-color: #ef9f13;*/
    background: linear-gradient(0deg, rgba(247,240,134,1) 0%, rgba(249,186,76,1) 100%);
  }
  
  .header-top {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 180px;
  }
  
  
  /*------Вертикальное меню------*/
  .main-menu {
    margin-left: 50px;
    margin-top: 25px;
  }
  
  .main-menu ul{
    margin: 0px;
    margin-left: 50px;
    padding: 0;
    list-style: none;
  }
  .main-menu li {
    display: inline-block;
    margin-right: 40px;
    vertical-align: top;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
  }
  .main-menu a{
    color: black;
    text-decoration: none;
  }
  .main-menu a:hover{
    text-decoration: underline;
  }
  .main-menu a:active{
   text-decoration: none;
   opacity: 0.3;
  }
  
  
  /*------Путь к странице------*/
  .page-title {
    margin-top: 45px;
    margin-left: 100px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
  }

  .breadcrumbs {
    margin-left: 100px;
    padding: 0;
    list-style: none;
    font-size: 0;
  }
    
  .breadcrumbs li {
    position: relative;
    display: inline-block;
    margin-right: 50px;
    color: #000000;
    vertical-align: top;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 24px;
  }
  
  .breadcrumbs li::after {
    content: "";
    position: absolute;
    top: 3px;
    right: -35px;
    width: 19px;
    height: 16px;
    background-image: url("../img/ico-nav-arrow.png");
    background-repeat: no-repeat;
  }
  
  .breadcrumbs li:last-child::after {
    content: none;
  }
  
  .breadcrumbs a {
    color: #000000;
    text-decoration: none;
  }
  
  .breadcrumbs a:hover {
    text-decoration: underline;
    color: blue;
  }
  
  .breadcrumbs a:active {
    text-decoration: underline;
    opacity: 0.3;
  }

/* Slider */

.slider{
    max-width: 800px;
    position: relative;
    margin: auto;
}

.slide{
    display: none;      
}

.slide img{
    width: 100%;   
}

/* Next / prev кнопки */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.8s ease;
    border-radius: 0 3px 3px 0;
    user-select: none; 
}
/* Положение кнопки next */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Number text (1/4 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
 }

.slide p{
    position: absolute;
    width: 100%;
    top: 8px;
    margin: 0;
    padding: 8px 12px;
    color: white;
    font: bold 16px "Georgia", serif;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 4px 3px black;
}

.dots{
    width: 250px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
/* Анимация */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/*------Footer------*/
.main-footer {
    padding-top: 45px;
    padding-bottom: 25px;
    background: #1f2022;
    color: white;
    font-size: 18px;
    line-height: 24px;
  }
  
  .footer-top {
    display: grid;
    grid-template-columns: 300px 140px 140px 200px 140px;
    column-gap: 20px;
  }
  
  .footer-address {
    margin-right: 40px;
  }
  .footer-address p{
     margin: 0;
     margin-top: 20px; 
  }
  /*-----Нижнее меню footer-----*/
  .footer-menu {
    margin-top: 0px;
  }
  
  .footer-menu h4{
    margin: 0;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
  
  .footer-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .footer-menu li{
    margin-bottom: 14px;
  }
  
  .footer-menu a {
    color: #ffcc00;
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
  }
  .footer-menu a:hover {
    text-decoration: underline;
  }
  .footer-menu a:active {
    text-decoration: underline;
    opacity: 0.3;
  }
  /*-----Нижняя часть footer-----*/
  .footer-bottom {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 300px 420px 200px;
    column-gap: 30px;
  }
  
  .copyright {
    margin-right: 40px;
  }
  
  .footer-social {
    font-size: 0;  
    text-align: right;
  }
  /*Социальные кнопки*/
  .social-btn{
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;
  }
  .social-btn-vk{
    width: 36px;
    height: 24px;
    background-image: url("../img/ico-vk.png");
    background-repeat: no-repeat;
  }
  .social-btn-fb{
    width: 23px;
    height: 35px;
    background-image: url("../img/ico-fb.png");
    background-repeat: no-repeat;
  }
  .social-btn-tw{
    width: 36px;
    height: 30px;
    background-image: url("../img/ico-tw.png");
    background-repeat: no-repeat;
  }
  